

$o-webclient-background-color: #78716c;
// $o-brand-primary: #1e2b37;
$o-community-color: #1e2b37;

// $o-brand-secondary: red;
// $o-brand-lightsecondary: green ;

// $o-enterprise-color: yellow;
// $o-enterprise-primary-color: orange;


.o_home_menu_background {
    background: url();
}

.o_control_panel {
    background-color: #fbfaf6;
}

.o_main_navbar {
    background-color: #44403C;
}
